h1 {
    color: rgb(255, 0, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}
p {
    color: #333333;
    font-style: italic;
    font-weight: bold;
    line-height: 1.6;
}
.place {
    background-color: antiquewhite;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.place img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
    